<div id="carga_sedes">
	<% if !@sedes.nil?  %>
	    <%=select_tag "sede", options_from_collection_for_select(@sedes, "id", "nombre"), :prompt=> "Todas" , :class => "custom-select-sm custom-select", :onchange => "cargarUsuarios();"%>
	<%else%>
	  	<select id="sede" class="custom-select-sm custom-select" ><option value="">Todas</option>></select>
	<%end%>
</div>

<script>
 function cargarUsuarios() {
      /*Carga las porciones disponibles de una zona */
      var sede = document.getElementById("sede").value;
      $.ajax({
        url: "<%=url_for :controller => 'monitor_inspectores',:action => 'carga_usuarios' %>",
        data: 'sede=' + encodeURIComponent(sede),
        cache: false,
        success: function(data) {}
      })
    }
</script>
