<div id="carga_comunas">
	<% if !@comunas.nil?  %>
	    <%=select_tag "comuna", options_from_collection_for_select(@comunas, "id", "nombre"), :prompt=> "Todas" , :class => "custom-select-sm custom-select", :onchange => "cargarRutas();"%>
	<%else%>
	  	<select id="comuna" class="custom-select-sm custom-select" ><option value="">Todas</option>></select>
	<%end%>
</div>
