<div id="carga_usuarios">
	<% if !@usuarios.nil?  %>
	    <%=select_tag "usuario", options_from_collection_for_select(@usuarios, "id", "email"), :prompt=> "Seleccione" , :class => "custom-select-sm custom-select", :onchange => ""%>
	<%else%>
	  	<select id="usuario" class="custom-select-sm custom-select" ><option value="">Todos</option>></select>
	<%end%>
</div>
