<title>Eventos en Terreno</title>
<div class="container-fluid">
      <div class="buscador">
        <div class="row">
          <div class="col-md-3">
              <span class="fas fa-globe-americas"></span> <label>Región</label>
              <%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :prompt=> "Seleccione",  :onchange => 'cargarComunas();cargarSedes();', :class => "custom-select-sm custom-select"%>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <span class="fas fa-city"></span> <label>Sede:</label>
              <%= render 'carga_sedes' %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <span class="fas fa-map-marked-alt"></span> <label>Comuna:</label>
              <%= render 'carga_comunas' %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <span class="fas fa-calendar-alt"></span> <label>Eventos:</label>
              <%=select_tag "evento", options_from_collection_for_select(@eventos, "id", "nombre"), :prompt=> "Seleccione",  :class => "custom-select-sm custom-select"%>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <span class="fas fa-users"></span> <label>Fiscalizadores:</label>
              <%= render 'carga_usuarios'%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>



  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 estadisticas">
        <div id="accordion" align="center">
          <hr><h5>Estadísticas</h5><hr>
          <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <b class="mb-0">
                <span class="fas fa-clipboard-list"></span> Fiscalizaciones
              </b>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <th>Fiscalizadores</th>
                <th>:</th>
                <th>30</th><br>
                <th>Fiscalizaciones</th>
                <th>:</th>
                <th>30</th><br>
                <th>Infracciones</th>
                <th>:</th>
                <th>30</th><br>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <b class="mb-0">
                <span class="fas fa-calendar-day"></span>  Eventos
              </b>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <th>Evento 1</th>
                <th>:</th>
                <th>3</th><br>
                <th>Evento 2</th>
                <th>:</th>
                <th>0</th><br>
                <th>Evento 3</th>
                <th>:</th>
                <th>40</th><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <iframe width="900" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-70.71006774902345%2C-33.47662785934149%2C-70.65505027770998%2C-33.43215762890386&amp;layer=mapnik&amp;marker=-33.45439559486342%2C-70.6825590133667" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=-33.4544&amp;mlon=-70.6826#map=14/-33.4544/-70.6826">Ver mapa más grande</a></small>
      </div>
    </div>
  </div>



    <script type="text/javascript">
    // # Filtro Porciones
    function cargarComunas() {
      /*Carga las porciones disponibles de una zona */
      var region = document.getElementById("region").value;
      $.ajax({
        url: "<%=url_for :controller => 'monitor_inspectores',:action => 'carga_comunas' %>",
        data: 'region=' + encodeURIComponent(region),
        cache: false,
        success: function(data) {}
      })
    }

    function cargarSedes() {
      /*Carga las porciones disponibles de una zona */
      var region = document.getElementById("region").value;
      $.ajax({
        url: "<%=url_for :controller => 'monitor_inspectores',:action => 'carga_sedes' %>",
        data: 'region=' + encodeURIComponent(region),
        cache: false,
        success: function(data) {}
      })
    }
  </script>
