<title>Usuarios Administrativos</title>
<div class="container-fluid">
	<div class="card">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></li>
			<li class="breadcrumb-item">Catastros </li>
			<li class="breadcrumb-item active">Usuarios Administrativos</li>
			</ol>
		</div><br>
		<!-- Información -->
		<div class="row">
			<div class="col-md-6 div-padding">
				<b>Totales:</b><br>
				<ul>
					<li>Usuarios Registrados: <%= @usuarios.count %></li>
				</ul>
			</div>
			<div class="col-md-6">
				<b>Exportar:</b><br>
				<button class="btn btn-descargas btn-sm">
					<span class="mdi mdi-file-excel"></span>CSV</button>
				<button class="btn btn-descargas btn-sm">
					<span class="mdi mdi-file-excel"></span>PDF</button>
			</div>
		</div><br>
		<!-- Tabla con Contenido -->
		<div class="card">
			<div class="card-header">
				 <span class="fas fa-users"></span>	Usuarios Administrativos
			</div>
			<div class="card-body">
				<div class="table-responsive-sm">
					<table class="table table-striped table-hover table-sm table-bordered">
						<thead>
							<tr>
								<th>Modificar Contraseña </th>
								<th>ID</th>
								<th>Empleado</th>
								<th>Empresa</th>
								<th>Perfil</th>
								<th>Rut </th>
								<th>Usuario</th>
							</tr>
						</thead>
						<tbody>
							<% @usuarios.each do |usuario| %>
								<tr>
									<td>
										<button onclick="modificarContrasena('<%= usuario.id %>');" class="btn btn-sm btn-danger">
											<span class="mdi mdi-account-key" style="color:#ffffff"></span>
										</button>
									</td>
									<td><%= usuario.id%> </td>
									<td>
										<% if !usuario.empleado.nil? %>
											<b>
												<%= usuario.empleado.nombre_completo%>
											</b>
										<% end %>
									</td>
									<td>
										<%if !usuario.empleado.nil? && !usuario.empleado.subempresa.blank?%>
											<%= usuario.empleado.subempresa.razon_social%>
										<% end %>
									</td>
									<td>
										<%= usuario.perfil.nombre %>
									</td>
									<td>
										<% if !usuario.empleado.nil? %>
											<b><%= usuario.empleado.rut%></b>
										<% end %>
									</td>
									<td><%= usuario.email %></td>

								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
			<!-- # > Paginacion  -->
			<div class="row h-100 justify-content-center align-items-center">
					<%= will_paginate @usuarios, list_classes: %w(pagination align-center) %>
			</div>
		<div>
	</div>
</div>
<div id="modal_modificar_contrasena" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content ">
				<div class="modal-body">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
						<li class="breadcrumb-item">Catastros </li>
						<li class="breadcrumb-item"><%=link_to 'Usuarios Administrativos', catastro_empleados_administrativos_path %></li>
						<li class="breadcrumb-item active">Cambiar Contraseña</li>
					</ol>
				<div class="card">
					<div class="card-body">
						<%= render 'modificar_contrasena'%>
					</div>
				</div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>

<!-- # > Funciones Js -->
<script type="text/javascript">
	// # > ToolTips Mensajes Botones
  $(document).ready(function(){
  	$('[data-toggle="tooltip"]').tooltip();
	});
	// # > Exportar CSV
  function exportarCsv(){
  	url = "<%=url_for :controller => 'usuarios_administrativos',:action => 'exportar_csv' %>",
    location.href= url;
	}
	// # > Exportar PDF
	function exportarPdf(){
  	url = "<%=url_for :controller => 'usuarios_administrativos',:action => 'exportar_pdf', :format => :pdf %>",
    location.href= url;
	}
	// # > Modificar Contraseña
	function modificarContrasena(usuario_id) {
		$('#modal_modificar_contrasena').modal('show');
    $.ajax({
    	url: "<%=url_for :controller => 'usuarios_administrativos',:action => 'modificar_contrasena' %>",
			data: 'usuario_id=' + encodeURIComponent(usuario_id),
      cache: false,
      success: function(data) {}
    })
	}
</script>
