<div id="modificar_contrasena">
    <% if !@usuario.nil? %>
      <% if !@usuario.empleado.nil?%>
        <%= form_tag :controller => 'usuarios_agentes_terreno', :action => 'cambiar', :method => 'post' do |us| %>
          <div class="row">  
            <div class="col-md-5">
              <tr>
                  <td><b>Usuario:</b></td>
                  <td> </td>
                  <td><%= @usuario.email %></td>
                </tr><br>
                <tr>
                  <td><b>Perfil:</b></td>
                  <td> </td>
                  <td><%= @usuario.perfil.nombre %></td>
                </tr><br>
                <tr>
                  <td><b>Nombre:</b></td>
                  <td> </td>
                  <td><%= @usuario.empleado.nombre_completo %></td>
                </tr><br>
                <tr>
                  <td><b>Rut:</b></td>
                  <td> </td>
                  <td><%= @usuario.empleado.rut %></td>
                </tr><br>
                <tr>
                  <td><b>Empresa:</b></td>
                  <td> </td>
                  <td><%= @usuario.empleado.subempresa.razon_social %></td>
                </tr><br>
                <tr>
                  <td><b>Contratista:</b></td>
                  <td> </td>
                  <td><%= @usuario.empleado.contratistum.nombre %></td>
                </tr><br>
              </div>
              <div class="col-md-7">
                <b>Nueva Contraseña: </b><br>
                <%= hidden_field_tag :id, @usuario.id %>
                <%= password_field_tag  :password, "",  :class => 'form-control', size: 20, :required => true %>
                <br>
                <div class="float-right">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button onclick="mostrarContrasena();" data-toggle="tooltip" data-placement="top" title="Ver Contraseña" type="button" class="btn btn-info"><span class="mdi mdi-eye mdi-18px"></span></button>
                    <button onclick="actualizarContrasena();" data-toggle="tooltip" data-placement="top" title="Actualizar Contraseña"  type="button" class="btn btn-success"><span class="mdi mdi-content-save mdi-18px"></span></button>
                    <button onclick="cancelar();" type="button" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn btn-danger"><span class="mdi mdi-close-box mdi-18px"></span></button>
                  </div>
                </div>
              </div>
            </div>              
        <%end%>
      <% end %>
    <% end %>
  </div>
  
  <!-- # > Funciones JS -->
  <script type="text/javascript">
    
    // > ToolTip Mensajes
    $(document).ready(function(){ 
      $('[data-toggle="tooltip"]').tooltip();
    });
  
    // > Envia Datos para Actualizar contrasela
    function actualizarContrasena(){
      var contrasena = document.getElementById("password").value;
      if (contrasena == "" ){
        Push.create("Fastbilling dice: ", {
          body: "Debe ingresar una contraseña",
          icon: "<%= asset_path('error.png') %>",
          timeout: 4000,
          onClick: function () {
            window.focus();
            this.close();
          }
        })
        return false;
      }
      else
      {
        var x = document.getElementsByTagName("form");
        x[0].submit();
      }
    }
  
    // > Salir del Modal
    function cancelar(){
      $('#modal_modificar_contrasena').modal('hide');
    }
  
    // > Muestra la Contraseña encriptada
    function mostrarContrasena(){
      var x = document.getElementById("password");
      if (x.type === "password") {
          x.type = "text";
      } else {
          x.type = "password";
      }
    }
  
  </script>