<title>Bítacora</title>
<div class="main">
	<div class="container">
		<center>
			<div class="middle">
				<div id="login">
					<fieldset class="clearfix">
						<%=yield%>
					</fieldset>
				<div class="clearfix"></div>
				<div class="clearfix"></div>
			</div> <!-- end login -->
			<div class="logo">
				<%= image_tag "bitacora.png", size:"150x150"%>
				<div class="clearfix"></div>
			</div>
		</div>
	</center>
	</div>
</div>
