<div class="form-signin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <br>
  <%= f.text_field :email, placeholder: "Usuario" %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña"%>
    <span style="width:80%; text-align:right;  display: inline-block;"><input type="submit" value="Entrar"></span>
  <% end %>
</div>
