
.breadcrumb{
  padding-left: 10px;
  font-size: 14px !important;
  color: black !important;

}
.breadcrumb-nav{
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background-color: white;
  color: black !important;
  width: 100%;
  height: 46px;
  font-size: 10px;
  line-height: 46px;
}
.breadcrumb:before{
  color: black !important;
  margin: 0px !important;
}

body{
  line-height: 1.4 !important;
}
label{
  font-size: 12px !important;
  color: #000000;
  font-weight: bold !important;
}
.card-header{
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  margin-bottom: 0;
  background-color: #0f5b90;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  color: white;
}

.card-body{
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 3px;
}
.navbar{
  padding: 0.3rem !important;
}
.navbar-light .navbar-nav .nav-link{
  color: #ffffff !important;
}
.bg-light{
  background-color: #0f5b90 !important;
}

.navbar-light .navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}

.form-control-sm{
  font-size: 12px !important;
}
.navbar-light .navbar-nav .nav-link{
  font-size: 14px;
}
.estadisticas{
  font-size: 12px;
}
.dropdown-menu{
  margin: 0.4rem 0 0 !important;
  border-radius: inherit !important;
}
.dropdown-item{
  color:#0f5b90 !important;
  padding: 0.1rem 1rem !important;
  font-size: 14px;
}
