.custom-select-sm {
  height: 32px !important;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 11px !important;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
        background-size: auto;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.buscador{
  color: white !important;
  -ms-flex: 1 1 auto;
  border-radius: 10px;
  background: #fe5000;
  background: -moz-linear-gradient(45deg,#fe5000 0%,#ed8b00 100%);
  background: -webkit-linear-gradient(45deg,#fe5000 0%,#ed8b00 100%);
  background: linear-gradient(45deg,#0f5b90 0%,#0f5b90 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5000',endColorstr='#ed8b00',GradientType=1 );  flex: 1 1 auto;
  padding: 0.8rem;
}
label{
  color: white !important;
}
